# Ignore node_modules in both front-end and back-end
node_modules/

# Ignore build folders
dist/
dist-ssr/

# Ignore local configuration files
*.local

# Ignore sensitive backend files
back-end/credentials.json
back-end/.env
back-end/prod-env.yaml

# Ignore large files
back-end/mongodb-windows-x86_64-8.0.4-signed.msi
back-end/mongosh-2.3.8-x64.msi
